*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #eee;
    width: 100vw;
    height: 10ovh;
    overflow: hidden;
}

canvas{
    background:#3c3c3c;

}